@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

body { font-size: 13px; font-family: 'Roboto', sans-serif; color: 000; }

header#top-header { width: 100%; padding: 15px 0; background-color: #063662; color: #FFF; }
header#top-header .row { grid-template-columns: repeat(2, 1fr); }
header#top-header .nav-logo-home { font-weight: bold; color: #FFF; }
header#top-header .nav-logo-home strong { font-size: 22px; display: block; }
header#top-header .nav-wrapper { position: relative; width: 100%; height: 100%; }
header#top-header .nav-new-reservation { position: absolute; top: 50%; transform: translateY(-50%); right: 0; padding: 5px 15px; font-weight: bold; color: #000; background-color: #CCC; border: 1px solid #333; border-radius: 5px; transition: background-color 300ms linear; }
header#top-header .nav-new-reservation:hover { background-color: #FFF; }