body { width:100%; height:100%; margin: 0; padding: 0; background-color: #FFF; }

a { text-decoration: none; }

.container { width: 98%; margin:0 auto; text-align: left; }
.container-full-size { width: 98%; margin:0 auto; text-align: left; }

.row { width: 100%; display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 15px; grid-row-gap: 15px; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.clr { clear: both; }
