<template>
  <div class="home">
    <ReservationProgress />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ReservationProgress from "@/components/ReservationProgress.vue"; 

@Component({
  components: {
    ReservationProgress
  }
})
export default class SelectRoomAndView extends Vue {}
</script>
