<template>
  <div class="home">
    <ReservationProgress />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ReservationProgress from "@/components/ReservationProgress.vue"; 

@Component({
  components: {
    ReservationProgress
  }
})

@Component
export default class SelectHotelAndDate extends Vue {
  public created() {
    console.log('sa')
  }
}
</script>
