<template>
  <div class="container">
    <div class="progress-wrapper">
      <ul class="progressbar">
        <li v-for="item in reservationSteps" :key="item.id" :class="{active:step == item.id}">
          <span v-on:click="switchReservationStep(item.id)">
            <font-awesome-icon :icon="item.icon" />
          </span>
          {{ item.title }} 
        </li>
      </ul>
      <div class="clr"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ReservationStep } from "@/models/enums"

@Component
export default class ReservationProgress extends Vue {

  private step:ReservationStep = ReservationStep.SelectHotelAndDate;
  private reservationSteps:any[] = [];

  public created() {
    this.reservationSteps = this.$store.getters['generalStore/getReservationSteps'];
    this.step = this.$store.getters['generalStore/getReservationProgress'];
  }

  private switchReservationStep(id:ReservationStep){
    this.$store.dispatch('generalStore/setReservationProgress', id);
  }

}
</script>

<style scoped lang="scss">
.container { 
  margin: 15px auto; 
}
.progress-wrapper { 
  background-color: #EEE; 
  border-radius: 10px; 
  padding: 15px; 
}
.progressbar {
  margin: 0;
  padding: 0;
}
.progressbar li {
    list-style-type: none;
    width: 33.3%;
    float: left;
    position: relative;
    text-align: center;
    color: #555;
}
.progressbar li span {
      cursor: pointer;
    z-index: 2;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #CCC;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #fafafa;
    color: #AAA;
    font-size: 22px;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ccc;
    top: 25px;
    left: -50%;
    z-index: 1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #111;
    font-weight: bold;
}
.progressbar li.active span {
    border-color: #111;
    color: #111;
    background-color: #FFF;
}
  
</style>
