<template>
  <div id="app">
    <header id="top-header">
      <div class="container-full-size">
        <div class="row">
            <div class="col">
              <router-link class="nav-logo-home" to="/">
                  <strong>
                  {{ $t('topNav.logo.brandName') }}
                  </strong>
                  {{ $t('topNav.logo.slogan') }}
              </router-link>
            </div>
            <div class="col">
              <div class="nav-wrapper text-right">
                <router-link class="nav-new-reservation" to="/reservation">
                  {{ $t('topNav.newReservation') }}
                </router-link>
              </div>
            </div>
        </div>
      </div>
    </header>
    <router-view />
  </div>
</template>

<style lang="scss">
@import "./assets/scss/ui.scss";
@import "./assets/scss/main.scss";
@import "./assets/scss/responsive.scss";
</style>
