<template>
  <div class="container">
    <SelectHotelAndDate />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { ReservationStep, ReservationStepIcon } from "@/models/enums"
import SelectHotelAndDate from "@/views/SelectHotelAndDate.vue"; 
import SelectRoomAndView from "@/views/SelectRoomAndView.vue"; 
import PreviewAndPayment from "@/views/PreviewAndPayment.vue"; 

@Component({
  components: {
    SelectHotelAndDate,
    SelectRoomAndView,
    PreviewAndPayment
  }
})


@Component
export default class ReservationProgress extends Vue {

  private step:ReservationStep = ReservationStep.SelectHotelAndDate;
  private reservationSteps:any[] = [];

  public created() {
    this.$store.dispatch('generalStore/initialState');
    this.pushReservationSteps();
  }
  public mounted() {
    this.step = this.$store.getters['generalStore/getReservationProgress'];
  }

  private pushReservationSteps() {
    this.reservationSteps.push(
      {
        id:ReservationStep.SelectHotelAndDate,
        icon: ReservationStepIcon.SelectHotelAndDate,
        title: this.$t('reservationSteps.chooseHotelAndDate').toString()
      }
    );
    this.reservationSteps.push(
      {
        id:ReservationStep.SelectRoomAndView,
        icon: ReservationStepIcon.SelectRoomAndView,
        title: this.$t('reservationSteps.chooseRoomAndView').toString()
      }
    );
    this.reservationSteps.push(
      {
        id:ReservationStep.PreviewAndPayment,
        icon: ReservationStepIcon.PreviewAndPayment,
        title: this.$t('reservationSteps.previewAndPayment').toString()
      }
    );
    this.$store.dispatch('generalStore/setReservationSteps', this.reservationSteps);
  }
}
</script>